@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@300;400;500;600&display=swap");

/* Variables */
$white: #fafafa;
$dark: hsl(220, 16%, 5%);
$completed: #7fd1ae;
$warning: #ff3c41;
$warning-dark-bg: lighten($warning, 5%);
$accent: hsl(252, 75%, 60%);
$accent-dark-bg: hsl(252, 85%, 70%);

/* Basic reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: "Inter", sans-serif;
  height: 100vh;
  transition: ease-in-out 0.2s;
  // Prevents blue box from appearing
  -webkit-tap-highlight-color: transparent;
}

/* header related */
header {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.subtitle {
  letter-spacing: 0.08rem;
  font-size: 1.1rem;
}

/* main related */
main {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
}

.dark-mode-btn {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.7rem;
  background-color: inherit;
  position: relative;
}

#toggle-dark-mode {
  appearance: none;
  cursor: pointer;
  height: 20px;
  width: 40px;
  background-color: $accent;
  border-radius: 30px;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.13);
  transition: ease-in-out 0.2s;
}

#toggle-dark-mode:checked {
  background-color: $accent-dark-bg;
}

#toggle-dark-mode::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.13);
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

#toggle-dark-mode:checked::before {
  right: 30px;
}

/* input container */
.new-task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#new-task-input {
  background-color: inherit;
  border: solid $accent 1.9px;
  border-radius: 30px;
  color: $dark;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.15);
}

/* <li> from task-container */
.list-item {
  font-size: 1.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  list-style-type: none;
  padding: 0.8rem;
  margin-bottom: 0.1rem;
  border-radius: 10px;
  color: $dark;
}

.task-container {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: $accent;
}

.trash-can {
  display: none;
  font-size: 1.2rem;
  color: $accent;
  cursor: pointer;
}

.trash-can.active {
  display: block;
}

.trash-can:hover {
  color: $warning;
}

/* <p> inside <li> */
.item-text {
  color: $dark;
}

/* <div> with completed tasks */
.completed-tasks {
  display: none;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

#clear {
  font-size: 0.9rem;
  background-color: inherit;
  color: $warning;
  outline: none;
  border-radius: 30px;
  padding: 0.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

#clear:hover {
  background-color: $warning;
  color: $white;
}

#clear:active {
  background-color: darken($warning, 20%);
}

.completed-tasks:has(.list-item) {
  display: block;
  margin-top: 2rem;
}

.completed-tasks__btn {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  color: $accent;
}

.completed-tasks__title {
  user-select: none;
  color: $accent;
  font-weight: bold;
  font-size: 1.2rem;
}

.completed-tasks__list.hidden {
  visibility: hidden;
}

.item-text {
  text-decoration: none;
  color: $dark;
}

.item-text.checked {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.15);
}

/* Generic reusable class */
.accent {
  color: $accent;
}

// Dark Mode
body.dark {
  background-color: $dark;
  color: $white;

  .accent,
  .completed-tasks__title,
  .trash-can {
    color: $accent-dark-bg;
  }

  .trash-can:hover {
    color: $warning-dark-bg;
  }

  input[type="checkbox"] {
    accent-color: $accent-dark-bg;
  }

  #new-task-input {
    border-bottom: solid $accent-dark-bg 1.7px;
  }

  input::placeholder,
  .item-text.checked {
    color: grey;
  }

  #new-task-input,
  .item-text {
    color: $white;
  }

  #clear {
    color: $warning-dark-bg;
  }

  #clear:hover {
    background-color: $warning-dark-bg;
    color: white;
  }

  #clear:active {
    background-color: darken($warning-dark-bg, 20%);
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .subtitle {
      display: none;
    }
  }

  main {
    position: relative;
  }

  .task-list {
    margin-bottom: 3rem;
  }

  .trash-can {
    display: block;
    color: $warning;
  }

  #new-task-input {
    background-color: $white;
    transition: ease-in-out 0.3s;
  }

  body.dark {
    .trash-can {
      color: lighten($warning, 5%);
    }

    #new-task-input {
      background-color: $dark;
    }
  }

  .new-task-container {
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .completed-tasks:has(.list-item) {
    display: block;
    margin: 3rem auto;
  }
}
