@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Sono&display=swap");

/* Basic reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --white: #f2f3f4;
  --dark: #212121;
  --warning: #ff3c41;
  --accent: #0b7b9e;
}

body {
  background-color: var(--white);
  font-family: "Inter", sans-serif;
  max-width: 760px;
  margin: 0 auto;
}

/* header related */
header {
  font-family: "Sono", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: var(--dark);
}

.page-title {
  letter-spacing: 0.02rem;
}

.subtitle {
  font-size: 1.1rem;
}

/* main related */
.grid-container {
  padding: 2rem;
}

/* input container */
.new-task-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#new-task-input {
  background-color: inherit;
  border: none;
  border-bottom: solid var(--accent) 2px;
  color: var(--dark);
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* <li> from task-container */
.list-item {
  font-size: 1.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  list-style-type: none;
  padding: 0.8rem;
  margin-bottom: 0.1rem;
  border-radius: 10px;
  cursor: pointer;
  color: var(--dark);
}

.list-item:hover {
  text-decoration: line-through;
}

/* icons that are inside the <li> (created in js) */
.icons-container {
  display: none;
  gap: 0.8rem;
}

.icons-container.active {
  display: flex;
}

.fa-trash,
.fa-pen-to-square {
  font-size: 1.2rem;
  color: var(--accent);
}

.fa-trash:hover {
  color: var(--warning);
}

/* <p> inside <li> */
.item-text {
  color: var(--dark);
}

/* <div> with completed tasks */
.completed-tasks {
  display: none;
}

.completed-tasks:has(.list-item) {
  display: block;
  margin-top: 2rem;
}
.completed-tasks--title {
  font-weight: bold;
  font-size: 1.2rem;
  color: hsl(0, 0%, 98%);
}

/* generic reusable classes */
.accent {
  color: var(--accent);
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
