@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@300;400;500;600&display=swap");
/* Basic reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
body {
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
}

/* header related */
header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.subtitle {
  letter-spacing: 0.08rem;
  font-size: 1.1rem;
}

/* main related */
.grid-container {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
}

.dark-mode-btn {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
  background-color: inherit;
}

#toggle-dark-mode {
  cursor: pointer;
}

/* input container */
.new-task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#new-task-input {
  background-color: inherit;
  border: none;
  border-bottom: solid hsl(252, 75%, 60%) 1px;
  color: hsl(220, 16%, 5%);
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.15);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.15);
}

/* <li> from task-container */
.list-item {
  font-size: 1.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  list-style-type: none;
  padding: 0.8rem;
  margin-bottom: 0.1rem;
  border-radius: 10px;
  color: hsl(220, 16%, 5%);
}

.task-container {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  align-items: center;
}

input[type=checkbox] {
  cursor: pointer;
  accent-color: hsl(252, 75%, 60%);
}

.trash-can {
  display: none;
  font-size: 1.2rem;
  color: hsl(252, 75%, 60%);
  cursor: pointer;
}

.trash-can.active {
  display: block;
}

.trash-can:hover {
  color: #ff3c41;
}

/* <p> inside <li> */
.item-text {
  color: hsl(220, 16%, 5%);
}

.completed-tasks__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  cursor: pointer;
  color: hsl(252, 75%, 60%);
}

/* <div> with completed tasks */
.completed-tasks {
  display: none;
}

.completed-tasks:has(.list-item) {
  display: block;
  margin-top: 2rem;
}

.completed-tasks__title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: hsl(252, 75%, 60%);
  font-weight: bold;
  font-size: 1.2rem;
}

.completed-tasks__list.hidden {
  visibility: hidden;
}

.item-text {
  text-decoration: none;
  color: hsl(220, 16%, 5%);
}

.item-text.checked {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.15);
}

/* generic reusable classes */
.accent {
  color: hsl(252, 75%, 60%);
}

.fa-toggle-off,
.fa-toggle-on {
  color: hsl(252, 75%, 60%);
}

body.dark {
  background-color: hsl(220, 16%, 5%);
  color: #fafafa;
}
body.dark input::-moz-placeholder {
  color: grey;
}
body.dark input::placeholder,
body.dark .item-text.checked {
  color: grey;
}
body.dark #new-task-input,
body.dark .item-text {
  color: #fafafa;
}

@media screen and (max-width: 500px) {
  .grid-container {
    min-height: 80vh;
    position: relative;
  }
  .trash-can {
    display: block;
    color: #ff3c41;
  }
  .new-task-container {
    padding: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  header {
    padding: 0;
    display: grid;
    row-gap: 1rem;
    grid-template-areas: ". . toggle" "name  name  name";
  }
  header .name {
    text-align: center;
    grid-area: name;
    justify-items: center;
  }
  header .dark-mode-btn {
    grid-area: toggle;
  }
}/*# sourceMappingURL=main.css.map */