@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
/* Variables */
/* Basic reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
  height: 100vh;
  transition: ease-in-out 0.2s;
  -webkit-tap-highlight-color: transparent;
}
body .fa-sun {
  color: hsl(246, 100%, 73%);
}
body .fa-moon {
  color: hsl(220, 16%, 5%);
}
body::-webkit-scrollbar {
  width: 8px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
body::-webkit-scrollbar-thumb {
  background-color: #dfdbff;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: hsl(246, 100%, 77%);
}

/* header related */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 2rem;
}

.subtitle {
  letter-spacing: 0.08rem;
  font-size: 1.1rem;
}

/* main related */
main {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
}

.dark-mode-btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: inherit;
  position: relative;
}

#toggle-dark-mode {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  height: 20px;
  width: 45px;
  background-color: hsl(246, 100%, 73%);
  border-radius: 3px;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.13);
  transition: ease-in-out 0.2s;
}
#toggle-dark-mode:checked {
  background-color: hsl(246, 100%, 77%);
}
#toggle-dark-mode::before {
  content: "";
  width: 23px;
  height: 20px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.13);
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}
#toggle-dark-mode:checked::before {
  right: 20px;
}

/* input container */
.new-task-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

#new-task-input {
  background-color: inherit;
  border-radius: 10px;
  border: solid hsl(246, 100%, 73%) 1.9px;
  color: hsl(220, 16%, 5%);
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
#new-task-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#new-task-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* <li> from task-container */
.list-item {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  list-style-type: none;
  padding: 0.8rem;
  margin-bottom: 0.1rem;
  color: hsl(220, 16%, 5%);
  cursor: pointer;
}

.item-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: 17px;
  height: 17px;
  padding: 0.1rem;
  background-color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px hsl(246, 100%, 73%);
  border-radius: 3px;
  transition: ease-in-out 0.2s;
}
.item-checkbox:hover {
  background-color: hsl(246, 100%, 73%);
}
.item-checkbox:checked {
  background-color: hsl(246, 100%, 73%);
}
.item-checkbox:checked::before, .item-checkbox:hover::before {
  color: #fafafa;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
}

.task-container {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  align-items: center;
}

.item-checkbox {
  cursor: pointer;
}

/* <input> inside <li> */
.item-text {
  flex: 1;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: inherit;
  font-size: 1.1rem;
}
.item-text.checked {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.15);
}

/* <div> with completed tasks */
.completed-tasks {
  display: none;
}
.completed-tasks .container {
  display: flex;
  justify-content: space-between;
}

#clear {
  font-size: 0.9rem;
  background-color: inherit;
  color: #ff3c41;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
#clear.hidden {
  display: none;
}
#clear:hover {
  background-color: #ff3c41;
  color: #fafafa;
}
#clear:active {
  background-color: #d50005;
}

.completed-tasks:has(.list-item) {
  display: block;
  margin-top: 2rem;
}

.completed-tasks__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  cursor: pointer;
  color: hsl(246, 100%, 73%);
}

.completed-tasks__title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: hsl(246, 100%, 73%);
  font-weight: bold;
  font-size: 1.2rem;
}

.completed-tasks__list.hidden {
  display: none;
}

/* Generic reusable class */
.accent {
  color: hsl(246, 100%, 73%);
}

#edit-modal {
  width: 250px;
  border: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 10px;
}
#edit-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
#edit-modal .container {
  display: flex;
  flex-direction: column;
}
#edit-modal #close {
  align-self: end;
  color: hsl(220, 16%, 5%);
  cursor: pointer;
  padding: 8px 12px;
}
#edit-modal #close:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
#edit-modal #edit-input {
  align-self: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  outline: none;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#edit-modal #edit-input:focus {
  outline: 2px solid rgba(0, 0, 0, 0.3);
}
#edit-modal .options {
  text-align: end;
}
#edit-modal button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 0.6rem 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
#edit-modal #delete-task {
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  color: #ff3c41;
}
#edit-modal #delete-task:hover {
  background-color: #ff3c41;
  color: #fafafa;
}
#edit-modal #edit {
  border: 2px solid #2cb77f;
  background-color: #2cb77f;
  color: #fafafa;
}
#edit-modal #edit:hover {
  color: #2cb77f;
  background-color: inherit;
}

body.dark {
  background-color: hsl(220, 16%, 5%);
  color: #fafafa;
}
body.dark .fa-sun {
  color: #fafafa;
}
body.dark .fa-moon {
  color: hsl(246, 100%, 77%);
}
body.dark .accent,
body.dark .completed-tasks__title,
body.dark .trash-can {
  color: hsl(246, 100%, 77%);
}
body.dark .trash-can:hover {
  color: #ff565a;
}
body.dark .item-checkbox {
  accent-color: hsl(246, 100%, 77%);
}
body.dark #new-task-input {
  border-bottom: solid hsl(246, 100%, 77%) 1.9px;
}
body.dark #new-task-input::-moz-placeholder {
  color: grey;
}
body.dark #new-task-input::placeholder,
body.dark .item-text.checked {
  color: grey;
}
body.dark #new-task-input,
body.dark .item-text {
  color: #fafafa;
}
body.dark #clear {
  color: #ff565a;
}
body.dark #clear:hover {
  background-color: #ff565a;
  color: white;
}
body.dark #clear:active {
  background-color: #ef0006;
}

@media screen and (max-width: 500px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
  }
  header .subtitle {
    display: none;
  }
  main {
    position: relative;
  }
  .task-list {
    margin-bottom: 3rem;
  }
  #new-task-input {
    background-color: #fafafa;
    transition: ease-in-out 0.3s;
  }
  body.dark .trash-can {
    color: #ff565a;
  }
  body.dark #new-task-input {
    background-color: hsl(220, 16%, 5%);
  }
  .new-task-container {
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .completed-tasks:has(.list-item) {
    display: block;
    margin: 3rem auto;
  }
}
@media (hover: hover) {
  .trash-can {
    display: none;
    font-size: 1.2rem;
    color: hsl(246, 100%, 73%);
    cursor: pointer;
  }
  .trash-can:hover {
    color: #ff3c41;
  }
  .list-item:hover .trash-can {
    display: block;
  }
}
@media (hover: none) {
  .trash-can {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */