@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

// Variables
$white: hsl(0, 0%, 98%);
$dark: #000;
$negative: hsl(358, 100%, 62%);
$negative-dark-bg: lighten($negative, 5%);
$accent: hsl(231, 97%, 72%);
$accent-dark-bg: hsl(231, 100%, 77%);

// Flex
@mixin flex($value) {
  display: flex;
  align-items: center;
  justify-content: $value;
}

// Basic reset
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Generic reusable class
.accent {
  color: $accent;
}

body {
  background-color: $white;
  font-family: "Inter", sans-serif;
  height: 100vh;
  transition: ease-in-out 0.2s;
  // Prevents blue box from appearing
  -webkit-tap-highlight-color: transparent;

  &::-webkit-scrollbar {
    width: 8px;
    transition: ease-in-out 0.2s;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($accent, 20%);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $accent-dark-bg;
  }
}

// Header related
header {
  @include flex(space-between);
  user-select: none;
  padding: 2rem;
}

.subtitle {
  letter-spacing: 0.08rem;
  font-size: 1.1rem;
}

.dark-mode-btn {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: inherit;
  position: relative;
}

#toggle-dark-mode {
  appearance: none;
  cursor: pointer;
  height: 20px;
  width: 40px;
  background-color: $accent;
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.13);
  transition: ease-in-out 0.2s;

  &:checked {
    background-color: $accent-dark-bg;
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.13);
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
  }

  &:checked::before {
    right: 20px;
  }
}

.fa-sun {
  color: $accent;
}
.fa-moon {
  color: $dark;
}

// Main related
main {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
}

// Input container
.new-task-container {
  @include flex(center);
  margin-bottom: 1rem;
}

#new-task-input {
  background-color: inherit;
  border: none;
  border-bottom: solid $accent 1.9px;
  color: $dark;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 100%;

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

/* <li> from task-container */
.list-item {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  column-gap: 0.5rem;
  list-style-type: none;
  padding: 0.8rem;
  margin-bottom: 0.1rem;
  color: $dark;
  cursor: pointer;
}

.item-checkbox {
  @include flex(center);
  flex: none;
  width: 17px;
  height: 17px;
  padding: 0.1rem;
  background-color: inherit;
  appearance: none;
  border: solid 1px $accent;
  border-radius: 50%;
  transition: ease-in-out 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    background-color: $accent;
  }

  &:checked {
    background-color: $accent;
  }

  &:checked::before {
    color: $white;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
  }
}

.task-container {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

// <input> inside <li>
.item-text {
  flex: 1;
  border: none;
  outline: none;
  appearance: none;
  background-color: inherit;
  font-size: 1.1rem;

  &.checked {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.15);
  }
}

.item-checkbox:checked .item-text::after {
  content: "";
  position: absolute;
  height: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.trash {
  color: $accent;

  &:hover {
    color: $negative;
  }
}

// <div> with completed tasks
.completed-tasks {
  display: none;

  &:has(.list-item) {
    display: block;
    margin-top: 2rem;
  }

  .container {
    @include flex(space-between);
  }
}

.completed-tasks-btn {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  color: $accent;
}

.completed-tasks-title {
  user-select: none;
  color: $accent;
  font-weight: bold;
  font-size: 1.2rem;
}

.completed-tasks-list.hidden {
  display: none;
}

#clear {
  font-size: 0.9rem;
  background-color: inherit;
  color: $negative;
  outline: none;
  border-radius: 20px;
  padding: 0.6rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &.hidden {
    display: none;
  }

  &:hover {
    background-color: $negative;
    color: $white;
  }

  &:active {
    background-color: darken($negative, 20%);
  }
}

// Dark Mode
body.dark {
  background-color: $dark;
  color: $white;

  .fa-sun {
    color: $white;
  }
  .fa-moon {
    color: $accent-dark-bg;
  }

  .accent,
  .completed-tasks-title,
  .trash {
    color: $accent-dark-bg;
  }

  .trash:hover {
    color: $negative-dark-bg;
  }

  #new-task-input {
    border-bottom: solid $accent-dark-bg 1.9px;
  }

  #new-task-input,
  .item-text {
    color: $white;
  }

  #new-task-input::placeholder,
  .item-text.checked {
    color: hsl(0, 0%, 65%);
  }

  #clear {
    color: $negative-dark-bg;

    &:hover {
      background-color: $negative-dark-bg;
      color: $white;
    }

    &:active {
      background-color: darken($negative-dark-bg, 20%);
    }
  }
}

// Mobile media query
@media screen and (max-width: 500px) {
  header {
    @include flex(space-between);
    padding: 0.8rem;
  }

  .subtitle {
    display: none;
  }

  main {
    position: relative;
  }

  .task-list {
    margin-bottom: 3rem;
  }

  .new-task-container {
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .completed-tasks:has(.list-item) {
    display: block;
    margin: 3rem auto;
  }
}

// Hover config for desktop
@media (hover: hover) {
  .trash {
    display: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .list-item:hover .trash {
    display: block;
  }

  .item-checkbox:hover::before {
    color: $white;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
  }
}

// Hover config for phones
@media (hover: none) {
  .trash {
    display: block;
    color: $negative;
  }

  body.dark {
    .trash {
      color: $negative-dark-bg;
    }
  }
}
