@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

/* Variables */
$white: #fafafa;
$dark: hsl(220, 16%, 5%);
$positive: #2cb77f;
$negative: #ff3c41;
$negative-dark-bg: lighten($negative, 5%);
$accent: hsl(246, 100%, 73%);
$accent-dark-bg: hsl(246, 100%, 77%);

@mixin flex($value) {
  display: flex;
  align-items: center;
  justify-content: $value;
}

@mixin icons-color($light: true) {
  @if $light {
    .fa-sun {
      color: $accent;
    }
    .fa-moon {
      color: $dark;
    }
  } @else {
    .fa-sun {
      color: $white;
    }
    .fa-moon {
      color: $accent-dark-bg;
    }
  }
}

/* Basic reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include icons-color($light: true);
  background-color: $white;
  font-family: "Inter", sans-serif;
  height: 100vh;
  transition: ease-in-out 0.2s;
  // Prevents blue box from appearing
  -webkit-tap-highlight-color: transparent;

  &::-webkit-scrollbar {
    width: 8px;
    transition: ease-in-out 0.2s;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($accent, 20%);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $accent-dark-bg;
  }
}

/* header related */
header {
  @include flex(space-between);
  user-select: none;
  padding: 2rem;
}

.subtitle {
  letter-spacing: 0.08rem;
  font-size: 1.1rem;
}

/* main related */
main {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
}

.dark-mode-btn {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: inherit;
  position: relative;
}

#toggle-dark-mode {
  appearance: none;
  cursor: pointer;
  height: 20px;
  width: 45px;
  background-color: $accent;
  border-radius: 3px;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.13);
  transition: ease-in-out 0.2s;

  &:checked {
    background-color: $accent-dark-bg;
  }

  &::before {
    content: "";
    width: 23px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.13);
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
  }

  &:checked::before {
    right: 20px;
  }
}

/* input container */
.new-task-container {
  @include flex(center);
  margin-bottom: 1rem;
}

#new-task-input {
  background-color: inherit;
  border-radius: 10px;
  border: solid $accent 1.9px;
  color: $dark;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 100%;

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

/* <li> from task-container */
.list-item {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  column-gap: 0.5rem;
  list-style-type: none;
  padding: 0.8rem;
  margin-bottom: 0.1rem;
  color: $dark;
  cursor: pointer;
}

.item-checkbox {
  @include flex(center);
  flex: none;
  width: 17px;
  height: 17px;
  padding: 0.1rem;
  background-color: inherit;
  appearance: none;
  border: solid 1px $accent;
  border-radius: 3px;
  transition: ease-in-out 0.2s;

  &:hover {
    background-color: $accent;
  }

  &:checked {
    background-color: $accent;
  }

  &:checked::before,
  &:hover::before {
    color: $white;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
  }
}

.task-container {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.item-checkbox {
  cursor: pointer;
}

/* <input> inside <li> */
.item-text {
  flex: 1;
  border: none;
  outline: none;
  appearance: none;
  background-color: inherit;
  font-size: 1.1rem;

  &.checked {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.15);
  }
}

/* <div> with completed tasks */
.completed-tasks {
  display: none;

  // ???????? WTF is this
  .container {
    display: flex;
    justify-content: space-between;
  }
}

#clear {
  font-size: 0.9rem;
  background-color: inherit;
  color: $negative;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &.hidden {
    display: none;
  }

  &:hover {
    background-color: $negative;
    color: $white;
  }

  &:active {
    background-color: darken($negative, 20%);
  }
}

.completed-tasks:has(.list-item) {
  display: block;
  margin-top: 2rem;
}

.completed-tasks__btn {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  color: $accent;
}

.completed-tasks__title {
  user-select: none;
  color: $accent;
  font-weight: bold;
  font-size: 1.2rem;
}

.completed-tasks__list.hidden {
  display: none;
}

/* Generic reusable class */
.accent {
  color: $accent;
}

// Modal
#edit-modal {
  width: 250px;
  border: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  padding: 1rem;
  border-radius: 10px;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  #close {
    align-self: end;
    color: $dark;
    cursor: pointer;
    padding: 8px 12px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
    }
  }

  #edit-input {
    align-self: center;
    width: 100%;
    height: 80px;
    outline: none;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &:focus {
      outline: 2px solid rgba(0, 0, 0, 0.3);
    }
  }

  .options {
    text-align: end;
  }

  button {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 0.6rem 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }

  #delete-task {
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: inherit;
    color: $negative;

    &:hover {
      background-color: $negative;
      color: $white;
    }
  }

  #edit {
    border: 2px solid $positive;

    background-color: $positive;
    color: $white;

    &:hover {
      color: $positive;
      background-color: inherit;
    }
  }
}

// Dark Mode
body.dark {
  @include icons-color($light: false);

  background-color: $dark;
  color: $white;

  .accent,
  .completed-tasks__title,
  .trash-can {
    color: $accent-dark-bg;
  }

  .trash-can:hover {
    color: $negative-dark-bg;
  }

  .item-checkbox {
    accent-color: $accent-dark-bg;
  }

  #new-task-input {
    border-bottom: solid $accent-dark-bg 1.9px;
  }

  #new-task-input::placeholder,
  .item-text.checked {
    color: grey;
  }

  #new-task-input,
  .item-text {
    color: $white;
  }

  #clear {
    color: $negative-dark-bg;

    &:hover {
      background-color: $negative-dark-bg;
      color: white;
    }

    &:active {
      background-color: darken($negative-dark-bg, 20%);
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    @include flex(space-between);
    padding: 0.8rem;
    .subtitle {
      display: none;
    }
  }

  main {
    position: relative;
  }

  .task-list {
    margin-bottom: 3rem;
  }

  #new-task-input {
    background-color: $white;
    transition: ease-in-out 0.3s;
  }

  body.dark {
    .trash-can {
      color: lighten($negative, 5%);
    }

    #new-task-input {
      background-color: $dark;
    }
  }

  .new-task-container {
    padding: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .completed-tasks:has(.list-item) {
    display: block;
    margin: 3rem auto;
  }
}

// Desktops
@media (hover: hover) {
  .trash-can {
    display: none;
    font-size: 1.2rem;
    color: $accent;
    cursor: pointer;

    &:hover {
      color: $negative;
    }
  }

  .list-item:hover .trash-can {
    display: block;
  }
}

// Phones
@media (hover: none) {
  .trash-can {
    display: none;
  }
}
