@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(241, 77%, 73%);
  --primary-100: hsl(238, 51%, 60%);
  --primary-200: hsl(235, 45%, 46%);
  --primary-lighter: hsl(240, 100%, 96%);
  --secondary: hsl(154, 47%, 66%);
  --secondary-lighter: hsl(154, 47%, 85%);
  --bg: #303030;
  --bg-light: hsl(0, 0%, 98%);
  --bg-light-100: hsl(0, 0%, 95%);
  --warning: #df2e38;
}

body {
  background: linear-gradient(
    222deg,
    var(--bg-light) 45%,
    var(--bg-light-100) 55%
  );
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  max-width: 760px;
  margin: 0 auto;
}

.grid-container {
  padding: 2rem;
}

#new-task-input {
  background-color: inherit;
  border: none;
  border-bottom: solid var(--primary) 2px;
  color: var(--bg);
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.new-task-container {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.list-item {
  font-size: 1.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  list-style-type: none;
  padding: 1rem;
  margin-bottom: 0.5rem;
  /* background-color: rgba(0, 0, 0, 0.02); */
  border-radius: 10px;
  cursor: pointer;
}

.list-item:hover {
  text-decoration: line-through;
}

.icons-container {
  display: none;
  gap: 0.8rem;
}

.icons-container.active {
  display: flex;
}

.fa-trash,
.fa-pen-to-square {
  font-size: 1.2rem;
  color: var(--primary-200);
}

.fa-trash:hover {
  color: var(--warning);
}

.fa-pen-to-square:hover {
  color: var(--primary-100);
}

.item-text {
  color: var(--bg);
}
