@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(0, 0%, 98%);
  --primary-100: hsl(0, 0%, 96%);
  --bg: hsl(300, 4%, 14%);
  --warning: #ff3c41;
}

body {
  background: linear-gradient(222deg, var(--bg) 20%, #000 80%);
  background-attachment: fixed;
  font-family: "Inter", sans-serif;
  max-width: 760px;
  margin: 0 auto;
}

.grid-container {
  padding: 2rem;
}

#new-task-input {
  background-color: inherit;
  border: none;
  border-bottom: solid var(--primary) 2px;
  color: var(--primary-100);
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

input::placeholder {
  color: hsla(0, 0%, 100%, 0.827);
}

.new-task-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.list-item {
  font-size: 1.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  list-style-type: none;
  padding: 0.8rem;
  margin-bottom: 0.1rem;
  border-radius: 10px;
  cursor: pointer;
  color: hsl(0, 0%, 98%);
}

.list-item:hover {
  text-decoration: line-through;
}

.icons-container {
  display: none;
  gap: 0.8rem;
}

.icons-container.active {
  display: flex;
}

.fa-trash,
.fa-pen-to-square {
  font-size: 1.2rem;
  color: var(--primary-100);
}

.fa-trash:hover {
  color: var(--warning);
}

.fa-pen-to-square:hover {
  color: var(--primary-100);
}

.item-text {
  color: var(--primary-100);
}

.completed-tasks {
  display: none;
}

.completed-tasks:has(.list-item) {
  display: block;
}
.completed-tasks--title {
  font-weight: bold;
  font-size: 1.2rem;
  color: hsl(0, 0%, 98%);
}
