@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #7287fd;
  --color-accent-dark: #8e9ffd;
  --color-cream: #f3f1ef;
  --color-cream-dark: #121212;
}

* {
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Sour Gummy", sans-serif;
}

body {
  -webkit-tap-highlight-color: transparent;
}

#app {
  @apply h-screen bg-cream text-cream-dark dark:bg-cream-dark dark:text-cream;
}

.task__checkbox:checked {
  content: url("/public/check.svg");
}

.ui-content.dark .task__checkbox:checked {
  content: url("/public/check-dark.svg");
}

@media (hover: hover) {
  .task:hover .task__remove {
    display: inline-block;
    @apply *:transition-all *:hover:scale-115;
  }
}

@media (hover: none) {
  .task:focus-within .task__remove {
    display: inline-block;
    @apply *:text-red-500 *:dark:text-red-400;
  }

  .task__checkbox {
    display: none;
  }
}

button {
  cursor: pointer;
}
