@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #7287fd;
  --color-accent_dark: #8e9ffd;
  --color-cream: #f3f1ef;
  --color-cream_dark: #121212;
}

* {
  font-family: "Host Grotesk", sans-serif;
}

body {
  -webkit-tap-highlight-color: transparent;
}

@media (hover: none) {
  .remove-task {
    display: inline-block;
  }
}

@media (hover: hover) {
  .remove-task {
    display: none;
  }

  .task:hover .remove-task {
    display: inline-block;
  }
}

button {
  cursor: pointer;
}
